<div class="row">
    <div class="col s12">
      <ul class="tabs" id="saml-settings">
        <li class="tab col s3"><a class="active" href="#basic-settings">{{ 'Basic Settings'|t }}</a></li>
        <li class="tab col s3"><a href="#local-auth">{{ 'Local Authentication'|t }}</a></li>
        <li class="tab col s3"><a href="#user-info-and-sync">{{'User Info and Syncing'|t}}</a></li>
      </ul>
    </div>
    <div id="basic-settings" class="col s12">{{ basic_settings }}</div>
    <div id="local-auth" class="col s12">{{ local_auth }}</div>
    <div id="user-info-and-sync" class="col s12">{{ user_info_and_sync }}</div>
</div>
