{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{%
  set classes = [ 'space-y-8' ]
%}
<form{{ attributes.addClass(classes) }}>
  {{ form.form_build_id }}
  {{ form.form_token }}
  {{ form.form_id }}

  {{ form.name }}
  {{ form.description }}
  {{ form.product }}
  {{ form.callback_url }}

  {{ form.billing_plan }}
  {{ form.subscription_period }}
  {{ form.auto_renew }}
  {{ form.actions.submit }}
</form>
